<h2>Add new student</h2>

<form #addStudent = "ngForm" [formGroup] = "addStudentForm" (ngSubmit) = "onSubmit(addStudent.value)">
    <div>
        <label for="id">
            ID
        </label>
        <input type="text" formControlName = "id" ngModel>
    </div>

    <div>
        <label for="name">
            Name
        </label>
        <input type="text" formControlName = "name" ngModel>
    </div>

    <div>
        <label for="character">
            Character
        </label>
        <input type="text" formControlName = "character" ngModel>
    </div>

    <div>
        <label for="grade">
            Grade
        </label>
        <input type="text" formControlName = "grade" ngModel>
    </div>


    <button type="submit">Add Student</button>
</form>